:root {
    /* Tons extraídos diretamente da logo */
    --color-primary: #1E3A8A;    /* Azul Escuro (Base da logo) */
    --color-secondary: #3ABEF9;  /* Azul Claro (Topo dos livros) */
    --color-accent: #60A5FA;     /* Azul Médio (Meio dos livros) */
    --color-neutral: #475569;    /* Cinza do texto "Escola Alpha" */
    
    /* Cores de suporte */
    --color-white: #ffffff;
    --color-bg-light: #F8FAFC;
    --color-text-main: #1E293B;
    --color-text-muted: #64748B;
    --color-bg: #F5F4F2;
    
   /* Configurações */
    --header-height: 80px;
    --container:none;
    --shadow: 0 10px 30px rgba(30, 58, 138, 0.15);
    --shadow1: 0 2px 10px rgba(0, 0, 0, 0.05);
    --shadow2: 0 4px 15px rgba(58, 190, 249, 0.3);
    --radius: 12px;
    --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

